@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100');
@import url('https://fonts.googleapis.com/css?family=Raleway+Dots');
@import url('https://fonts.googleapis.com/css?family=Amatica+SC');
@import url('https://fonts.googleapis.com/css?family=Monofett');
@import url('https://fonts.googleapis.com/css?family=Adamina');
@import url('https://fonts.googleapis.com/css?family=Adamina');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

*{
  box-sizing: border-box;
}

/*bootstrap changes*/

nav li a:hover {
  background: none; 
}

.carousel-control.left {
  z-index: 5;
  top: 0px;
  left: 0px;
  background-image:  none;
  background-image: none;
  background-image: none;
  filter: none;
  opacity: .9;
  
}

.carousel-control.right {
  z-index: 5;
  top: 0px;
  left: 0px;
  background-image:  none;
  background-image: none;
  background-image: none;
  filter: none;
  opacity: .9;
}

/*scrollbar*/

::-webkit-scrollbar-track-piece{
	background-color:#fff;
	-webkit-border-radius:10;
}
::-webkit-scrollbar{
	width:8px;
	height:8px;
}
::-webkit-scrollbar-thumb{
	height:50px;
	background-color:#999;
	-webkit-border-radius:4px;
	outline: 2px solid #fff;
	outline-offset:-2px;
	border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover{
	height:50px;
	background-color:#9f9f9f;
	-webkit-border-radius:4px;
}

/*very small screen*/

@media (max-width: 576px){

  /*Statement*/

#statement-page{
  display: block;
  position: relative;
  left: 30px;
  font-family: "Josefin Slab", serif;
  font-size: 14pt;
  text-align: justify;
}

#statement-page h1{
  font-family: "Amatica SC", sans-serif;
  font-size: 40pt;
  text-align: right;
}

#statement-page h2{
  font-family: "Amatica SC", sans-serif;
  font-size: 38pt;
  text-align: right;
}

#statement-page p{
  font-family: "Josefin Slab", serif;
  font-size: 14pt;
  text-align: justify;
}

.impressum{
  top: 100px;
  text-align: center;
}

  .nav-size-ind-2{
    display: none;
    height: 0px;
    width: 0px;
    visibility: hidden;
  }

#small-nav{
z-index: 100;
}
	
.list{
    height: 90px;
    width: 80px;
  }

  .list.art{
    background-image: url("../assets/art.svg");
    background-repeat: no-repeat;
  }

.list.statement{
  background-image: url("../assets/Statement.svg");
    background-repeat: no-repeat;
    margin-bottom: -40px;
  }

  .list.bio{
    background-image: url("../assets/bio.svg");
    background-repeat: no-repeat;
  }

  .list.blog{
    background-image: url("../assets/blog.svg");
    background-repeat: no-repeat;
    margin-bottom: -30px;
  }

  .list.contact{  
    background-image: url("../assets/Contact.svg");
  background-repeat: no-repeat;
  }

  .menu-wrap {
    background-color: rgba(255, 255, 255, 0.72);
    background:  -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(255,255,255,0.7) 80%,rgba(255,255,255,0) 100%);  
    position: fixed;
    top: 0;
    height: 100%;
    width: 50%;
    margin-left: -380px;
    font-size: 1em;
    font-weight: 700;
    overflow: visible;
    transition: .25s;
    z-index: 200;
}

.menu-side ul{
  font-size: 30pt;
  position: block;
  float: left;
  margin-left: 20px;
}

.menu-show {
    margin-left: -10%;
}
 
  .nav-sidebar{
    display: none;
  }

  .navbar-sidebar-header-menu{
  display: block;
  position: relative;
  width: 100px; 
  height: 100px;
  background-image: url("../assets/menu.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 20px;
  z-index: 100;
  left: 90%;
  transform: translateX(-90%);
  -webkit-transform: translateX(-90%);
  }

  .navbar-sidebar-header-menu.scroll{
  display: block;
  position: fixed;
  left: 90%;
  transform: translateX(-130%);
  -webkit-transform: translateX(-130%);
  width: 40px; 
  height: 40px;
  background-image: url("../assets/menu-scroll.svg");
  background-repeat: no-repeat;
  margin-top: 20px;
  z-index: 100;
  background-size: cover;
  }

  .whitebar-scroll{
  position: fixed;
  height: 0px;
  width: 100%;
  top: 0px;
  left: 0px;  
  z-index: 98;
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,.9) 65% , rgba(255,255,255,.8) 70%, rgba(255, 255, 255, 0) 100%);
  transition: all .1s;
}

.wh-scroll{
  height: 120px;
  width: 100%;
}

.navbar-sidebar-header-menu.active{
  display: block;
  position: fixed;
  left: 90%;
  transform: translateX(-130%);
  -webkit-transform: translateX(-130%);
  width: 40px; 
  height: 40px;
  background-image: url("../assets/closer.svg");
  background-repeat: no-repeat;
  margin-top: 35px;
  z-index: 100;
  background-size: cover;
  }

.navbar-sidebar-header-menu.active.scroll{
  display: block;
  position: fixed;
   left: 90%;
  transform: translateX(-130%);
  -webkit-transform: translateX(-130%);
  width: 40px; 
  height: 40px;
  background-image: url("../assets/closer.svg");
  background-repeat: no-repeat;
  margin-top: 35px;
  z-index: 100;
  background-size: cover;
  }

 
.menu-button {
  transition: .25s;
  z-index: 100;
}


.navbar-sidebar-header-sl {
  display: block;
  float: left;
  position: relative;
  width: 80px; 
  height: 80px;
  background-image: url("../assets/brand-logo.svg");
  background-repeat: no-repeat;
  margin: 10px;
  margin-left: 63px;
  margin-top: 18px;
  z-index: 100;
  }

.navbar-sidebar-header {
  display: block;
  float: left;
  position: relative;
  width: 80px; 
  height: 80px;
  background-image: url("../assets/brand-logo.svg");
  background-repeat: no-repeat;
  margin: 10px;
  z-index: 100;

  }

  .drpd-ul{
    list-style: none;
  }

  #nav-button{
    display: block;
    float: left;
    z-index: 10;
   }

.blog-post{
  display: inline-block;
  position: relative;
  height: 300px;
  width: 86%;
  margin: 25px;
  background-size: cover;
}
 
}


/*small screen*/

@media (min-width: 576px) and (max-width: 768px){

/*Statement*/

#statement-page{
  display: block;
  position: relative;
  left: 30px;
  font-size: 15pt;
  font-family: "Josefin Slab", serif;
}

#statement-page h1{
  font-family: "Amatica SC", sans-serif;
  font-size: 40pt;
  text-align: right;
}

#statement-page h2{
  font-family: "Amatica SC", sans-serif;
  font-size: 40pt;
  text-align: right;
}


#statement-page p{
  font-family: "Josefin Slab", serif;
  font-size: 14pt;
  text-align: justify;
}

  .impressum{
  top: 100px;
  text-align: center;
}

    .nav-size-ind-2{
    display: none;
    height: 0px;
    width: 0px;
    visibility: hidden;
  }

   #small-nav{
z-index: 100;
}
	
 .list{
    height: 90px;
    width: 80px;
  }

  .list.art{
    background-image: url("../assets/art.svg");
    background-repeat: no-repeat;
  }

.list.statement{
  background-image: url("../assets/Statement.svg");
    background-repeat: no-repeat;
    margin-bottom: -40px;
  }

  .list.bio{
    background-image: url("../assets/bio.svg");
    background-repeat: no-repeat;
  }

  .list.blog{
    background-image: url("../assets/blog.svg");
    background-repeat: no-repeat;
    margin-bottom: -30px;
  }

  .list.contact{  
    background-image: url("../assets/Contact.svg");
  background-repeat: no-repeat;
  }

   .menu-wrap {
    background-color: rgba(255, 255, 255, 0.72);
    background:  -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 28%,rgba(255,255,255,0.7) 78%,rgba(255,255,255,0) 100%); 
    position: fixed;
    top: 0;
    height: 100%;
    width: 50%;
    margin-left: -380px;
    font-size: 1em;
    font-weight: 700;
    overflow: visible;
    transition: .25s;
    z-index: 200;
}

.menu-side ul{
  position: absolute;
  top: 145px;
  margin-left: 20px;
}

.menu-show {
    margin-left: -10%;
}
 
  .nav-sidebar{
    display: none;
  }

.navbar-sidebar-header-menu{
  display: block;
  left: 90%;
  transform: translateX(-90%);
  -webkit-transform: translateX(-90%);
  position: relative;
  width: 100px; 
  height: 100px;
  background-image: url("../assets/menu.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;
  z-index: 100;
  }

  .navbar-sidebar-header-menu.scroll{
  display: block;
  position: fixed;
  left: 90%;
  transform: translateX(-130%);
  -webkit-transform: translateX(-130%);
  width: 40px; 
  height: 40px;
  background-image: url("../assets/menu-scroll.svg");
  background-repeat: no-repeat;
  margin-top: 20px;
  z-index: 100;
  background-size: cover;
  }

.whitebar-scroll{
  position: fixed;
  height: 0px;
  width: 100%;
  top: 0px;
  left: 0px;  
  z-index: 99;
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,.9) 65% , rgba(255,255,255,.8) 70%, rgba(255, 255, 255, 0) 100%);
  transition: all .1s;
}

.wh-scroll{
  height: 120px;
  width: 100%;
}

.navbar-sidebar-header-menu.active{
  display: block;
  position: fixed;
  left: 90%;
  transform: translateX(-130%);
  -webkit-transform: translateX(-130%);
  width: 40px; 
  height: 40px;
  background-image: url("../assets/closer.svg");
  background-repeat: no-repeat;
  margin-top: 35px;
  z-index: 100;
  background-size: cover;
  }

.navbar-sidebar-header-menu.active.scroll{
  display: block;
  position: fixed;
  left: 90%;
  transform: translateX(-130%);
  -webkit-transform: translateX(-130%);
  width: 40px; 
  height: 40px;
  background-image: url("../assets/closer.svg");
  background-repeat: no-repeat;
  margin-top: 35px;
  z-index: 100;
  background-size: cover;
  }
 
.menu-button {
  z-index: 100;
}


.navbar-sidebar-header-sl {
  display: block;
  float: left;
  position: relative;
  width: 80px; 
  height: 80px;
  background-image: url("../assets/brand-logo.svg");
  background-repeat: no-repeat;
  margin: 10px;
  margin-left: 60px;
  margin-top: 18px;
  z-index: 100;
  }

.navbar-sidebar-header {
  display: block;
  float: left;
  position: relative;
  width: 80px; 
  height: 80px;
  background-image: url("../assets/brand-logo.svg");
  background-repeat: no-repeat;
  margin: 10px;
  z-index: 100;
  }

  .drpd-ul{
    list-style: none;
  }

  #nav-button{
    display: block;
    float: left;
    z-index: 10;
   }

.blog-post{
  display: inline-block;
  position: relative;
  height: 600px;
  width: 86%;
  margin: 25px;
  background-size: cover;
}
}

/*medium screen*/

@media(min-width: 768px) and (max-width: 992px){
/*Statement*/

#statement-page{
  display: block;
  position: relative;
  left: 15px;
  font-size: 15pt;
  font-family: "Josefin Slab", serif;
}

#statement-page h1{
  font-family: "Amatica SC", sans-serif;
  font-size: 40pt;
  text-align: right;
}

#statement-page h2{
  font-family: "Amatica SC", sans-serif;
  font-size: 35pt;
  text-align: left;
}

#statement-page p{
  font-family: "Josefin Slab", serif;
  font-size: 14pt;
  text-align: justify;
}


  .impressum{
  top: 100px;
  text-align: center;
}

  .nav-size-ind{
    display: block;
    height: 0px;
    width: 0px;
    visibility: hidden;
  }

  .nav-size-ind-2{
    display: block;
    height: 0px;
    width: 0px;
    visibility: hidden;
  }

  #small-nav{
    display: none;
    z-index: 0;
  }



  .nav > li {
    box-sizing: border-box;
    display: inline;
    float: left;
    box-sizing: border-box;
  }
  
  .navbar-sidebar-header {
  display: block;
  float: left;
  position: relative;
  width: 55px; 
  height: 55px;
  background-image: url("../assets/brand-logo.svg");
  background-repeat: no-repeat;
  margin: 10px;
  z-index: 100;
  transition: all .2s ;
  }

  .nav-link-wrapper {
  position: relative;
  height: 40px;
  display: block;
  margin: 10px;
  z-index: 20;
  }

/*active*/

.nav-link-wrapper.active{
  display: block;
}

/*art*/
  .nav-link-wrapper.art {
      width: 60px;
    }
  
  /*statement*/
  .nav-link-wrapper.statement {
  width: 120px;
  }
  /*bio*/
  .nav-link-wrapper.bio {
  width: 60px;
  }

  /*blog*/
  .nav-link-wrapper.blog {
   width: 100px;
   }
  /*contact*/
    .nav-link-wrapper.contact {
    width: 120px;
    }

  .nav img{
    position: absolute;
    }

    .nav-link-wrapper img{
   transition-timing-function: cubic-bezier(0,1,1,0);
  -webkit-transition: all .2s;
   transition: all .2s ;
  }

   .nav-transform{
     transform: scale(1.1,1.1);
     -webkit-transform: scale(1.1,1.1);
   }

.blog-post{
  display: inline-block;
  position: relative;
  height: 300px;
  width: 300px;
  margin: 10px;
  background-size: cover;
}
}

/*big screen*/

@media (min-width: 992px){

  /*Statement*/

#statement-page{
  display: block;
  position: relative;
  top: 5px;
  font-family: "Josefin Slab", serif;
  font-size: 15pt;
}

#statement-page h1{
  font-family: "Amatica SC", sans-serif;
  font-size: 40pt;
  text-align: right;
}
#statement-page h2{
  font-family: "Amatica SC", sans-serif;
  font-size: 40pt;
  text-align: left;
}

#statement-page p{
  font-family: "Josefin Slab", serif;
  font-size: 14pt;
  text-align: justify;
}

.impressum{
  top: 20px;
  text-align: left;
}

 .nav-size-ind-2{
    display: block;
    height: 0px;
    width: 0px;
    visibility: hidden;
  }



.nav-size-ind{
    display: none;
    height: 0px;
    width: 0px;
    visibility: hidden;
  }

.nav-sidebar{
  position: relative;
}

  #small-nav{
    display: none;
    z-index: 0;
  }
  .nav > li {
    box-sizing: border-box;
   } 

  #brand-logo{
    display: none;
  }

  .navbar-sidebar-header {
  position: relative;
  width: 115px;
  height: 115px;
  left: 60px;
  top: 30px;
  background-image: url("../assets/brand-logo2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  z-index: 120;
   transition: all .2s ;
  }


  .nav-link-wrapper {
  position: relative;
  width: 90px;
  left: 65px;
  z-index: 1000;
  margin-bottom: 8px;
  }
  .nav img{
    position: absolute;
    width: 100px;
   }
  /*art*/
  .nav-link-wrapper.art {
      height: 100px;
       transition-timing-function: cubic-bezier(0,1,1,0);
  -webkit-transition: all .5s;
   transition: all .5s ;
    }

  /*statement*/
  .nav-link-wrapper.statement {
  height: 50px;
   transition-timing-function: cubic-bezier(0,1,1,0);
  -webkit-transition: all .5s;
   transition: all .5s ;
  }
 
  /*bio*/
  .nav-link-wrapper.bio {
  height: 100px;
  }

  /*blog*/
  .nav-link-wrapper.blog {
   height: 70px;
    transition-timing-function: cubic-bezier(0,1,1,0);
  -webkit-transition: all .5s;
   transition: all .5s ;
   }
  /*contact*/
    .nav-link-wrapper.contact {
    height: 70px;
     transition-timing-function: cubic-bezier(0,1,1,0);
  -webkit-transition: all .5s;
   transition: all .5s ;
    }

  .nav-link-wrapper img{
   transition-timing-function: cubic-bezier(0,1,1,0);
  -webkit-transition: all .2s;
   transition: all .2s ;
  }

   .nav-transform{
     transform: scale(1.1,1.1);
     -webkit-transform: scale(1.1,1.1);
    }

#blogPosts{
  position: relative;
  top: 25px;
  left: 25px;
  height: 900px;
}

.blog-post{
  display: inline-block;
  position: relative;
  height: 300px;
  width: 300px;
  margin: 10px;
  background-size: cover;
}
  
}

/*art page styling*/

@media (min-width: 992px) {
     .image{
      position: relative;
      float: left;
      left: 0px;
      width: 350px;
      /*background: yellow;*/
      margin-bottom: 50px;
    }

  
    .img{
      position: relative;
      height: 350px;
      width: 262px;
      border: 1px solid black;
      transition: .4s;
       border-radius: 2px;
    }

    .quote{
      font-family: 'Amatica SC', sans-serif;
      font-weight: 100;
      line-height: 20px;
      font-size: 28pt;
      z-index: 120;
      transition: .4s;
      position: relative;
      top: 10px;
      width: 300px;
      height: 20px;
      z-index: 120;
      letter-spacing: -1px;
    }

}

@media (min-width: 768px) and (max-width: 992px) {
     .image{
      position: relative;
      float: left;
      left: 0px;
      width: 350px;
      /*background: yellow;*/
      margin-bottom: 50px;
    }

  
    .img{
      position: relative;
      height: 350px;
      width: 262px;
      border: 1px solid black;
      transition: .4s;
       border-radius: 2px;
    }

    .quote{
  font-family: 'Amatica SC', sans-serif;
  font-weight: 100;
  line-height: 20px;
  font-size: 28pt;
  z-index: 120;
  transition: .4s;
  position: relative;
  top: 10px;
  width: 200px;
  height: 20px;
  z-index: 120;
  letter-spacing: -1px;
}


}

@media (max-width: 768px) {


   .image{
      position: relative;
      float: left;
      left: 0px;
      width: 90%;
      height: 400px;
      /*background: yellow;*/
      margin-bottom: 70px;
    }


  
    .img{
      position: relative;
      height: 100%;
      width: 100%;
      border: 1px solid black;
      transition: .4s;
       border-radius: 2px;
    }

    .quote{
  font-family: 'Amatica SC', sans-serif;
  font-weight: 100;
  line-height: 20px;
  font-size: 28pt;
  z-index: 120;
  transition: .4s;
  position: relative;
  top: 10px;
  width: 200px;
  height: 20px;
  z-index: 120;
}

.quote-shift{
}
}






/*thumbnails*/

.thumb1{
  background: url("../images/art/thumb/1.jpg");
   background-repeat: no-repeat;
  background-size: cover;
}

.thumb2{
  background: url("../images/art/thumb/2.jpg");
   background-repeat: no-repeat;
  background-size: cover;
}
.thumb3{
  background: url("../images/art/thumb/3.jpg");
   background-repeat: no-repeat;
  background-size: cover;
}
.thumb4{
  background: url("../images/art/thumb/4.jpg");
   background-repeat: no-repeat;
  background-size: cover;
}
.thumb5{
  background: url("../images/art/thumb/5.jpg");
   background-repeat: no-repeat;
  background-size: cover;
}

.thumb6{
  background: url("../images/art/thumb/6.jpg");
   background-repeat: no-repeat;
  background-size: cover;
}


/*carousel images styling*/

.loading{
    position: absolute;
    display: none;
    left: 45%;
    top: 42%;
    width: 100px;
    height: 100px;
    background-image:  url("../assets/load_small.gif");
    background-size: contain;
    z-index: 2000;
  }


.closer:hover {
  opacity: 1;
}

.number{
  font-family: 'Great Vibes', cursive;
  font-size: 24pt;
}


@media (min-width: 992px) {
  #art{
    overflow-x: hidden;
  }
  .gallery{
  position: relative;
  top: 36px;
  left: 40px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .gallery{
  position: relative;
  top: 20px;
  left: -2px;
  }
}

@media (max-width: 768px) {
  .gallery{
  position: relative;
  top: 20px;
  left: 12px;
  }
}

/* path animate */

#hover-scribble {
  position: absolute;
  display: none;
  z-index: -2;
}

#scribble-svg {
  position: absolute;
  display: block;
  top: 0%;
  left: 0%;
  }

/*
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}*/


.lay-active1 {
  -webkit-transform: rotate(15deg) scale(1.1,1.1);
}

.lay-active2 {
 -webkit-transform: rotate(10deg) scale(1.1,1.1);
}

.lay-active3 {
 -webkit-transform: rotate(15deg);
}

.lay-active4 {
 -webkit-transform: rotate(10deg);
}

.lay-active5 {
 -webkit-transform: rotate(5deg);
}

.lay-active6 {
 -webkit-transform: rotate(7deg);
}

.lay-active7 {
 -webkit-transform: rotate(-70deg);
}
.lay-active8 {
 -webkit-transform: rotate(-80deg);
}
.lay-active9 {
 -webkit-transform: rotate(-90deg);
}



/*front page styling */



@keyframes eye {
  0%, 100%{
    transform: scale(1,1);
  }
  20% {
    transform: rotate(3deg) scale(1.05,.95) translateY(-5px);
  }
}

.eye-animation {
  animation-name: eye;
  animation-duration: 1s;
  animation-iteration-count: 1;
  }

  .test{
    position: relative;
    display: block;
    float: left;
    height: 300px;
    width: 300px;
    background: blue;
    transition: all .35s;
  }

  .test.push{
    position: relative;
    margin: auto;
    display: block;
    height: 400px;
    width: 400px;
    background: green;
    transition: all .2s;
  }
  .test.push:hover{
    position: relative;
    display: block;
    float: left;
    height: 500px;
    width: 500px;
    background: green;
  }



/*Gallery overhaul*/

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  background-repeat: repeat;
  z-index: 1000 ;
  transition: .2s;
}

.overlay-wrapper {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  background-repeat: repeat;
}

  #myCarousel{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

 


#car-item-1{
  background-image: url("../images/art/lg/1.jpg"); 
  background-size: contain;
  background-repeat: no-repeat;
}

#car-item-2{
  background-image: url("../images/art/lg/2.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
}

#car-item-3{
  background-image: url("../images/art/lg/3.jpg"); 
  background-size: contain;
  background-repeat: no-repeat;
}

#car-item-4{
  background-image: url("../images/art/lg/4.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
}

#car-item-5{
  background-image: url("../images/art/lg/5.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
}

#car-item-6{
  background-image: url("../images/art/lg/6.jpg"); 
  background-size: contain;
  background-repeat: no-repeat;
}



.zoom-item{
  cursor: -webkit-grab !important;
}




/*CAROUSEL RESPONSIVE ELEMENTS*/
/*BIG SCREEN*/

@media (min-width: 769px) {

  .overlay-toggle{
  overflow: scroll;
}

  .top-nav-car{
    display: none;
  }

  .item.active{
  position: relative;
  margin: auto;
  overflow: initial !important;
  cursor: zoom-in;
  background-color: white;
}

  .info{
  position: relative;
  opacity: .5;
  height: 30px;
  width: 30px;
  left: 20%;
  top: 2%;
  background-image: url("../assets/info.svg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: .2s
}

  .closer{
  position: relative;
  top:2%;
  left: 38%;
  opacity: .9;
  height: 30px;
  width: 30px;
  background-image: url("../assets/closer.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: .2s;
  z-index: 10;
}

.zoom-closer{
  position: fixed;
  display: none;
  float: right;
  margin-left: 97%;
  margin-top: 15px; 
  opacity: 1;
  height: 25px;
  width: 25px;
  background-image: url("../assets/closer.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: .2s;
  z-index: 121;
}

   .back-car{
    display: block;
    float: left;
    position: relative;
    height: 100%;
    width: 7%;
    z-index: 2;
  }

  .center-car{
    display: block;
    position: relative;
    float: left;
    width: 86%;
    height: 100%;
    z-index: 1;
  }

  .forward-car{
    display: block;
    float: left;
    position: relative;
    height: 100%;
    width: 7%;
    z-index: 4;
  }

.back-arrow-link{
   position: absolute;
   width: 25px;
   height: 25px;
   top: 50%;
   right: 50%;
  }

 .forward-arrow-link{
   position: absolute;
   width: 25px;
   height: 25px;
   top: 50%;
   left: 50%;
  }

  .back-arrow{
  position: relative;
  height: 40px;
  width: 40px;
  background-image: url("../assets/back.svg");
  background-size: contain;
  background-repeat: no-repeat;
}


.forward-arrow{
  position: relative;
  height: 40px;
  width: 40px;
  background-image: url("../assets/next.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
   .carousel-inner{
    display: block;
    width: 100%;
    height: 100%;
    overflow: visible;
  }

.info-box{
 font-size: 20pt;
 position: absolute;
 visibility: hidden;
 float: left;
 top: -500px;
 left: 0px;
 height: 0px;
 width: 0px;
 margin: none;
 z-index: -1;
 transition: all .55s;
 background-color: #f9f9f9;
}

.info-box h1{
  font-family: "Open Sans Condensed", sans-serif;
  text-indent: 10px;
}

.info-box p{
  font-family: "Josefin Slab", serif;
  font-size: 13pt;
  text-indent: 15px;
}

  .activated{
  visibility: visible;
  float: left;
  top: 0px;
  left: -200px;
  height: 100%;
  width: 200px;
  margin: none;
}


.s-indicator{
  display: none;
  height: 0px;
  width: 0px;
}

.copyright-art-overlay{
  font-family: "Josefin Slab", serif;
  font-size: 10pt;
  position: absolute;
  left: 15px;
  height: 40px;
  width: 80%;
  top: 90%;
}

}

/*SMALL SCREEN*/
@media (max-width: 768px) {


  .item.active{
  display: inline-block;
  z-index: 100;
  overflow: visible;
  cursor: zoom-in;
}

  .info{
  float: left;
  opacity: .5;
  width: 30px;
  height: 30px;
  margin: 5px 20px 5px 5px;
  top: 0%;
  background-image: url("../assets/info.svg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: .2s
}

  .closer{
  float: right;
  opacity: .9;
  width: 30px;
  height: 30px;
  margin: 5px 5px 5px 40px;
  top: 0%;
  background-image: url("../assets/closer.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: .2s;
  z-index: 10;
}

.zoom-closer{
  position: fixed;
  display: none;
  float: right;
  margin-left: 90%;
  margin-top: 15px; 
  opacity: 1;
  height: 25px;
  width: 25px;
  background-image: url("../assets/closer.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: .2s;
  z-index: 121;
}

 .back-arrow-link{
   position: relative;
   float: left;
   width: 30px;
   height: 30px;
   margin: 5px 40px 5px 20px;
   top: 0%;
  }

 .forward-arrow-link{
   display: inline-block;
   position: absolute;
   width: 30px;
   height: 30px;
   top: 0%;
   margin: 5px 40px 5px 40px;
  }

  .back-arrow{
  position: relative;
  height: 30px;
  width: 30px;
  background-image: url("../assets/back.svg");
  background-size: contain;
  background-repeat: no-repeat;
}


.forward-arrow{
  position: relative;
  height: 30px;
  width: 30px;
  background-image: url("../assets/next.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

   .back-car{
    display: none;
  }

  .center-car{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .forward-car{
    display: none;
  }

  .top-nav-car{
    display: inline-block;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: 109;
    background-color: white;
    overflow: hidden;
  }

 
   .carousel-inner{
    display: block;
    width: 100%;
    height: 100%;
    overflow: scroll;
  }

  .info-box{
 position: absolute;
 visibility: hidden;
 float: left;
 top: 0px;
 left: 0px;
 height: 0px;
 width: 100%;
 z-index: 101;
 border-bottom-right-radius: 30px;
 border-bottom-left-radius: 30px;
 transition: top .25s;
}


.info-box h1{
  font-family: "Open Sans Condensed", sans-serif;
  text-indent: 20px;
}

.info-box p{
  font-family: "Josefin Slab", serif;
  font-size: 13pt;
  text-indent: 25px;
}

  .activated{
  position: absolute;
  visibility: visible;
  float: left;
  top: 0px;
  left: 0%;
  height: 180px;
  width: 100%;
  z-index: 101;
  background-color: white;
}

.overlay-toggle{
  overflow: visible;
}

.s-indicator{
  display: block;
  height: 0px;
  width: 0px;
}

.copyright-art-overlay{
  font-family: "Josefin Slab", serif;
  font-size: 10pt;
  position: relative;
  left: 15px;
  height: 30px;
  width: 100px;
  left: 90%;
  transform: translateX(-90%);
  -webkit-transform: translateX(-90%);
  top:-40px;
}

}

/*Footer*/

@media (min-width: 992px) {
 .site-footer-2{
  position: relative;
  display: block;
  float: right;
  top: 100px;
  height: 80px;
  width: 100%;
  
}


  .site-footer{
  position: relative;
  display: block;
  float: right;
  top: 370px;
  height: 80px;
  width: 100%;
  
}

.foot-cop{
  margin-top: 47px;
  font-size: 10pt;
  font-family: "Josefin Slab", serif;
  display: inline-block;
  position: relative;
  width: 250px;
  left: 60px;
}

#f-social{
  display: inline-block;
  float: right;
  margin-left: 20px; 
  /*background: lightyellow;*/
}

#f-email{
  display: inline-block;
  float: right;
  margin-top: 17px;
  margin-left: 1px; 
  text-decoration: none;
  /*background: lightyellow;*/
}

#f-impressum{
  display: inline-block;
  float: right;
  margin-top: 17px;
  margin-left: 20px;
  opacity: .6;
  /*background: lightslategray;*/
}

/*social media*/

.social-icn{
  display: block;
  position: relative;
  top: 13px;
  height: 35px;
  width: 35px;
  margin-right: 13px;
  margin-top: 13px;  
  float: left;
  background-size: contain;
  opacity: .6;
}

.social-icn:hover{
  opacity: .9;
}
  
}

@media (min-width: 768px) and (max-width: 992px) {

 .site-footer-2{
  position: relative;
  display: block;
  float: right;
  top: 100px;
  height: 80px;
  width: 100%;
  
}

  .site-footer{
  position: relative;
  display: block;
  float: right;
  top: 720px;
  height: 80px;
  width: 100%;
  
}

.foot-cop{
  margin-top: 47px;
  font-size: 10pt;
  font-family: "Josefin Slab", serif;
  display: inline-block;
  position: relative;
  width: 250px;
}

#f-social{
  display: inline-block;
  float: right;
  margin-left: 20px; 
  /*background: lightyellow;*/
}

#f-email{
  display: inline-block;
  float: right;
  margin-top: 17px;
  margin-left: 1px; 
  text-decoration: none;
  /*background: lightyellow;*/
}

#f-impressum{
  display: inline-block;
  float: right;
  margin-top: 17px;
  margin-left: 20px;
  opacity: .6;
  /*background: lightslategray;*/
}

/*social media*/

.social-icn{
  display: block;
  position: relative;
  top: 13px;
  height: 35px;
  width: 35px;
  margin-right: 13px;
  margin-top: 13px;  
  float: left;
  background-size: contain;
  opacity: .6;
}

.social-icn:hover{
  opacity: .9;
}

}

@media (min-width: 576px) and (max-width: 768px) {


.foot-cop{
  font-size: 10pt;
  font-family: "Josefin Slab", serif;
  display: block;
  width: 100%;
  height:20px;
 }

.small-foot.small-foot-2{
  position: relative;
  top: 100px;
  height: 200px;
  font-size: 18pt;
  font-family: "Open Sans Condensed", sans-serif;
  width: 100%;
}

.small-foot{
  position: relative;
  top: 850px;
  height: 200px;
  font-size: 18pt;
  font-family: "Open Sans Condensed", sans-serif;
  width: 100%;
}

.small-foot li{
  position: relative;
  width: 100%;
  height: 40px;
}

/*social media*/

.social-icn{
  display: block;
  position: relative;
  height: 35px;
  width: 35px;
  margin-right: 15px;
  float: left;
  background-size: contain;
  opacity: .6;
}

.social-icn:hover{
  opacity: .9;
}

}

@media (max-width: 576px) {


.foot-cop{
  font-size: 10pt;
  font-family: "Josefin Slab", serif;
  display: block;
  width: 100%;
  height:20px;
 }

.foot-cop{
  font-size: 10pt;
  font-family: "Josefin Slab", serif;
  display: block;
  width: 100%;
  height:20px;
 }

.small-foot.small-foot-2{
  position: relative;
  top: 100px;
  height: 200px;
  font-size: 18pt;
  font-family: "Open Sans Condensed", sans-serif;
  width: 100%;
}

.small-foot{
  position: relative;
  top: 550px;
  height: 200px;
  font-size: 18pt;
  font-family: "Open Sans Condensed", sans-serif;
  width: 100%;
}

.small-foot li{
  position: relative;
  width: 100%;
  height: 40px;
}
/*social media*/

.social-icn{
  display: block;
  position: relative;
  height: 35px;
  width: 35px;
  margin-right: 13px;  
  float: left;
  background-size: contain;
  opacity: .6;
}

.social-icn:hover{
  opacity: .9;
}

}

.footer-styling h1{
  /*font-family: 'Amatica SC', sans-serif;*/
  font-size: 17pt;
  font-family: "Open Sans Condensed", sans-serif;
 
}


.footer-styling h4{
  font-family: "Open Sans Condensed", sans-serif;
  /*font-family: 'Amatica SC', sans-serif;*/
}

.footer-styling p{
  font-family: "Josefin Slab", serif;
}

#f-email a{
  text-decoration: none;
  color: black;
  /*background: lightyellow;*/
}

#f-copyright{
  /*background: lightsteelblue;*/
}

#f-contact{
  display: inline-block;
  float: right;
  margin-top: 17px;
  opacity: .6;
  /*background: lightslategray;*/
}



#f-impressum a{
  color: black;
}

#f-impressum a:hover{
  color: black;
  opacity: 1;
  text-decoration: none;
}

#f-impressum:hover{
  opacity: 1;
  /*background: lightslategray;*/
}

.copyright{
  height: 40px;
  /*background: darkslateblue;*/
}

.copyright-art{
  font-size: 10pt;
  font-family: "Josefin Slab", serif;
  position: relative;
  display: block;
  height: 30px;
  top: 120px;
  width: 370px;
  margin: none;
  padding: none;
}

.copyright-art a{
  color: black;
  opacity: .7;
  text-decoration: none;
}

.copyright-art a:hover{
  opacity: 1;
}

.copyright-blog{
  font-size: 10pt;
  font-family: "Josefin Slab", serif;
  position: relative;
  display: block;
  height: 40px;
  width: 370px;
  left: 16px;
  margin: none;
  padding: none;
  padding-bottom: 10px;
  color: black;
}

.copyright-blog a{
  color: black;
  opacity: .7;
  text-decoration: none;
  color: black !important;
}

.copyright-blog a:hover{
  opacity: 1;
}

/*small footer*/

.facebook{
  background-image: url("../assets/facebook.svg");
}

.tumblr {
 background-image: url("../assets/tumblr.svg");
}

.instagram {
   background-image: url("../assets/instagram.svg");
}

.blog-post{
vertical-align: top;
border-radius: 3px;
}

#blogPosts a{
  text-decoration: none;
  color: white;
}

.small-foot a{
 text-decoration: none;
 color: black;
 opacity: .6;
}

.small-foot a:hover{
 opacity: 1;
}

.impressum p{
  font-family: "Josefin Slab", serif;
}

.impressum h1{
  font-family: "Amatica SC", sans-serif;
}

.impressum h4{
  font-family: "Amatica SC", sans-serif;
}

#blog-post-mikroversum{
  display: inline-block;
  position: relative;
  background: #282828;
  border-radius: 3px;
}

.mikroversum-cont{
  font-family: "Amatica SC", sans-serif;
  font-size: 35pt;
  width: 100%;
  margin-top: 50%;
  transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
  text-align: center;
}

#hiddendate{
  visibility: hidden;
}

#statement-page a{
  text-decoration: none;
}