@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:100,300');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300i');

*{
  box-sizing: border-box;
}


/*bootstrap changes*/

nav li a:hover {
  background: none; 
}

.carousel-control.left {
  z-index: 5;
  top: 0px;
  left: 0px;
  background-image:  none;
  background-image: none;
  background-image: none;
  filter: none;
  
}

.carousel-control.right {
  z-index: 5;
  top: 0px;
  left: 0px;
  background-image:  none;
  background-image: none;
  background-image: none;
  filter: none;
}

/*scrollbar*/

::-webkit-scrollbar-track-piece{
	background-color:#fff;
	-webkit-border-radius:10;
}
::-webkit-scrollbar{
	width:8px;
	height:8px;
}
::-webkit-scrollbar-thumb{
	height:50px;
	background-color:#999;
	-webkit-border-radius:4px;
	outline: 2px solid #fff;
	outline-offset:-2px;
	border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover{
	height:50px;
	background-color:#9f9f9f;
	-webkit-border-radius:4px;
}

/*very small screen*/

@media (max-width: 576px){

  /*.social-media{
  position: absolute;
  height: 25px;
  width: 125px;
  left: 80%;
  top: 850px;
}

.social{
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
  background-size: cover;
  margin: 7px;
}*/

#small-nav{
z-index: 100;
}
	
.list{
    height: 90px;
    width: 80px;
  }

  .list.art{
    background-image: url("../assets/art.svg");
    background-repeat: no-repeat;
  }

.list.statement{
  background-image: url("../assets/Statement.svg");
    background-repeat: no-repeat;
    margin-bottom: -40px;
  }

  .list.bio{
    background-image: url("../assets/bio.svg");
    background-repeat: no-repeat;
  }

  .list.blog{
    background-image: url("../assets/blog.svg");
    background-repeat: no-repeat;
    margin-bottom: -30px;
  }

  .list.contact{  
    background-image: url("../assets/Contact.svg");
  background-repeat: no-repeat;
  }

  .menu-wrap {
    background-color: rgba(255, 255, 255, 0.72);
    background:  -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(255,255,255,0.7) 80%,rgba(255,255,255,0) 100%);  
    position: fixed;
    top: 0;
    height: 100%;
    width: 50%;
    margin-left: -380px;
    font-size: 1em;
    font-weight: 700;
    overflow: visible;
    transition: .25s;
    z-index: 200;
}

.menu-side ul{
  font-size: 30pt;
  position: block;
  float: left;
  margin-left: 20px;
}

.menu-show {
    margin-left: -10%;
}
 
  .nav-sidebar{
    display: none;
  }

  .navbar-sidebar-header-menu{
  display: block;
  position: relative;
  width: 100px; 
  height: 100px;
  background-image: url("../assets/menu.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 20px;
  z-index: 100;
  left: 70%;
  }

  .navbar-sidebar-header-menu.scroll{
  display: block;
  position: fixed;
  left: 72%;
  width: 40px; 
  height: 40px;
  background-image: url("../assets/menu-scroll.svg");
  background-repeat: no-repeat;
  margin-top: 20px;
  z-index: 100;
  background-size: cover;
  }

.navbar-sidebar-header-menu.active{
  display: block;
  position: fixed;
  left: 73%;
  width: 40px; 
  height: 40px;
  background-image: url("../assets/closer.svg");
  background-repeat: no-repeat;
  margin-top: 35px;
  z-index: 100;
  background-size: cover;
  }

.navbar-sidebar-header-menu.active.scroll{
  display: block;
  position: fixed;
  left: 73%;
  width: 40px; 
  height: 40px;
  background-image: url("../assets/closer.svg");
  background-repeat: no-repeat;
  margin-top: 35px;
  z-index: 100;
  background-size: cover;
  }

 
.menu-button {
  transition: .25s;
  z-index: 100;
}


.navbar-sidebar-header-sl {
  display: block;
  float: left;
  position: relative;
  width: 80px; 
  height: 80px;
  background-image: url("../assets/brand-logo.svg");
  background-repeat: no-repeat;
  margin: 10px;
  margin-left: 63px;
  margin-top: 18px;
  }

.navbar-sidebar-header {
  display: block;
  float: left;
  position: relative;
  width: 80px; 
  height: 80px;
  background-image: url("../assets/brand-logo.svg");
  background-repeat: no-repeat;
  margin: 10px;
  }

  .drpd-ul{
    list-style: none;
  }

  #nav-button{
    display: block;
    float: left;
    z-index: 10;
   }
 
}


/*small screen*/

@media (min-width: 576px) and (max-width: 768px){
   
   
/*.social-media{
  position: absolute;
  height: 70px;
  width: 330px;
  left: 80%;
  top: 830px;
}

.social{
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
  background-size: cover;
  margin: 7px;
}*/

   #small-nav{
z-index: 100;
}
	
 .list{
    height: 90px;
    width: 80px;
  }

  .list.art{
    background-image: url("../assets/art.svg");
    background-repeat: no-repeat;
  }

.list.statement{
  background-image: url("../assets/Statement.svg");
    background-repeat: no-repeat;
    margin-bottom: -40px;
  }

  .list.bio{
    background-image: url("../assets/bio.svg");
    background-repeat: no-repeat;
  }

  .list.blog{
    background-image: url("../assets/blog.svg");
    background-repeat: no-repeat;
    margin-bottom: -30px;
  }

  .list.contact{  
    background-image: url("../assets/Contact.svg");
  background-repeat: no-repeat;
  }

   .menu-wrap {
    background-color: rgba(255, 255, 255, 0.72);
    background:  -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 28%,rgba(255,255,255,0.7) 78%,rgba(255,255,255,0) 100%); 
    position: fixed;
    top: 0;
    height: 100%;
    width: 50%;
    margin-left: -380px;
    font-size: 1em;
    font-weight: 700;
    overflow: visible;
    transition: .25s;
    z-index: 200;
}

.menu-side ul{
  position: absolute;
  top: 145px;
  margin-left: 20px;
}

.menu-show {
    margin-left: -10%;
}
 
  .nav-sidebar{
    display: none;
  }

.navbar-sidebar-header-menu{
  display: block;
  left: 70%;
  position: relative;
  width: 100px; 
  height: 100px;
  background-image: url("../assets/menu.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;
  z-index: 100;
  }

  .navbar-sidebar-header-menu.scroll{
  display: block;
  position: fixed;
  left: 72%;
  width: 40px; 
  height: 40px;
  background-image: url("../assets/menu-scroll.svg");
  background-repeat: no-repeat;
  margin-top: 20px;
  z-index: 100;
  background-size: cover;
  }

.navbar-sidebar-header-menu.active{
  display: block;
  position: fixed;
  left: 73%;
  width: 40px; 
  height: 40px;
  background-image: url("../assets/closer.svg");
  background-repeat: no-repeat;
  margin-top: 35px;
  z-index: 100;
  background-size: cover;
  }

.navbar-sidebar-header-menu.active.scroll{
  display: block;
  position: fixed;
  left: 73%;
  width: 40px; 
  height: 40px;
  background-image: url("../assets/closer.svg");
  background-repeat: no-repeat;
  margin-top: 35px;
  z-index: 100;
  background-size: cover;
  }
 
.menu-button {
  z-index: 100;
}


.navbar-sidebar-header-sl {
  display: block;
  float: left;
  position: relative;
  width: 80px; 
  height: 80px;
  background-image: url("../assets/brand-logo.svg");
  background-repeat: no-repeat;
  margin: 10px;
  margin-left: 60px;
  margin-top: 18px;
  }

.navbar-sidebar-header {
  display: block;
  float: left;
  position: relative;
  width: 80px; 
  height: 80px;
  background-image: url("../assets/brand-logo.svg");
  background-repeat: no-repeat;
  margin: 10px;
  }

  .drpd-ul{
    list-style: none;
  }

  #nav-button{
    display: block;
    float: left;
    z-index: 10;
   }
}

/*medium screen*/

@media(min-width: 768px) and (max-width: 992px){

   /*.social-media{
  position: absolute;
  height: 25px;
  width: 125px;
  left: 80%;
  top: 900px;
}

.social{
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
  background-size: cover;
  margin: 7px;
}*/

  #small-nav{
    display: none;
  }

  .nav > li {
    box-sizing: border-box;
    display: inline;
    float: left;
    box-sizing: border-box;
  }
  
  .navbar-sidebar-header {
  display: block;
  float: left;
  position: relative;
  width: 55px; 
  height: 55px;
  background-image: url("../assets/brand-logo.svg");
  background-repeat: no-repeat;
  margin: 10px;
  z-index: 100;
  transition: all .2s ;
  }

  .nav-link-wrapper {
  position: relative;
  height: 40px;
  display: block;
  margin: 10px;
  z-index: 20;
  }

/*active*/

.nav-link-wrapper.active{
  display: block;
}

/*art*/
  .nav-link-wrapper.art {
      width: 60px;
    }
  /*.nav-link-wrapper.art:hover .path{
   stroke-dasharray: 5749;
   stroke-dashoffset: 5749;
   animation: dash .8s linear forwards;  
  }
  .nav-link-wrapper.art:hover #hover-scribble{
   transform: scale(.22,.22);
   display: block;
  }*/
  /*statement*/
  .nav-link-wrapper.statement {
  width: 120px;
  }
  /*.nav-link-wrapper.statement:hover .path{
   stroke-dasharray: 2123;
   stroke-dashoffset: 2123;
   animation: dash .8s linear forwards;  
  }
  .nav-link-wrapper.statement:hover #hover-scribble{
   transform: scale(.76,.76);
   display: block;
  }*/
  /*bio*/
  .nav-link-wrapper.bio {
  width: 60px;
  }

  /*.nav-link-wrapper.bio:hover .path{
   stroke-dasharray: 1773;
   stroke-dashoffset: 1773;
   animation: dash .8s linear forwards;  
  }
  .nav-link-wrapper.bio:hover #hover-scribble{
   transform: scale(.59,.59);
   display: block;
  }*/
  /*blog*/
  .nav-link-wrapper.blog {
   width: 100px;
   }
    /*.nav-link-wrapper.blog:hover .path{
   stroke-dasharray: 2725;
   stroke-dashoffset: 2725;
   animation: dash .8s linear forwards;  
  }
  .nav-link-wrapper.blog:hover #hover-scribble{
   transform: scale(.45,.45);
   display: block;
  }*/
  /*contact*/
    .nav-link-wrapper.contact {
    width: 120px;
    }
    /*.nav-link-wrapper.contact:hover .path{
   stroke-dasharray: 2716;
   stroke-dashoffset: 2716;
   animation: dash .8s linear forwards;  
  }
  .nav-link-wrapper.contact:hover #hover-scribble{
   transform: scale(.67,.67);
   display: block;
  }*/

  .nav img{
    position: absolute;
    }

    .nav-link-wrapper img{
   transition-timing-function: cubic-bezier(0,1,1,0);
  -webkit-transition: all .2s;
   transition: all .2s ;
  }

   .nav-transform{
     transform: scale(1.1,1.1);
    }
}

/*big screen*/

@media (min-width: 992px){

/*social media*/

  /*.social-media{
  position: absolute;
  height: 70px;
  width: 330px;
  left: 80%;
  top: 950px;
}*/

/*.social{
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  background-size: cover;
  margin: 7px;
}*/

  #small-nav{
    display: none;
  }
  .nav > li {
    box-sizing: border-box;
   }
  

  #brand-logo{
    display: none;
  }

  .navbar-sidebar-header {
  position: relative;
  width: 115px;
  height: 115px;
  left: 60px;
  top: 30px;
  background-image: url("../assets/brand-logo2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  z-index: 120;
   transition: all .2s ;
  }


  .nav-link-wrapper {
  position: relative;
  width: 90px;
  left: 65px;
  z-index: 1000;
  margin-bottom: 8px;
  }
  .nav img{
    position: absolute;
    width: 100px;
   }
  /*art*/
  .nav-link-wrapper.art {
      height: 100px;
       transition-timing-function: cubic-bezier(0,1,1,0);
  -webkit-transition: all .5s;
   transition: all .5s ;
    }
  /*.nav-link-wrapper.art:hover .path{
   stroke-dasharray: 5749;
   stroke-dashoffset: 5749;
   animation: dash .8s linear forwards;  
  }
  .nav-link-wrapper.art:hover #hover-scribble{
   transform: scale(.33,.33);
   display: block;
  }*/
  /*statement*/
  .nav-link-wrapper.statement {
  height: 50px;
   transition-timing-function: cubic-bezier(0,1,1,0);
  -webkit-transition: all .5s;
   transition: all .5s ;
  }
  /*.nav-link-wrapper.statement:hover .path{
   stroke-dasharray: 2123;
   stroke-dashoffset: 2123;
   animation: dash .8s linear forwards;  
  }
  .nav-link-wrapper.statement:hover #hover-scribble{
   transform: scale(.63,.63);
   display: block;
  }*/
  /*bio*/
  .nav-link-wrapper.bio {
  height: 100px;
  }

  /*.nav-link-wrapper.bio:hover .path{
   stroke-dasharray: 1773;
   stroke-dashoffset: 1773;
   animation: dash .8s linear forwards;  
  }
  .nav-link-wrapper.bio:hover #hover-scribble{
   transform: scale(1.03,1.03);
   display: block;
  }*/
  /*blog*/
  .nav-link-wrapper.blog {
   height: 70px;
    transition-timing-function: cubic-bezier(0,1,1,0);
  -webkit-transition: all .5s;
   transition: all .5s ;
   }
    /*.nav-link-wrapper.blog:hover .path{
   stroke-dasharray: 2725;
   stroke-dashoffset: 2725;
   animation: dash .8s linear forwards;  
  }
  .nav-link-wrapper.blog:hover #hover-scribble{
   transform: scale(.52,.52);
   display: block;
  }*/
  /*contact*/
    .nav-link-wrapper.contact {
    height: 70px;
     transition-timing-function: cubic-bezier(0,1,1,0);
  -webkit-transition: all .5s;
   transition: all .5s ;
    }
    /*.nav-link-wrapper.contact:hover .path{
   stroke-dasharray: 2716;
   stroke-dashoffset: 2716;
   animation: dash .8s linear forwards;  
  }
  .nav-link-wrapper.contact:hover #hover-scribble{
   transform: scale(.7,.7);
   display: block;
  }*/

  .nav-link-wrapper img{
   transition-timing-function: cubic-bezier(0,1,1,0);
  -webkit-transition: all .2s;
   transition: all .2s ;
  }

   .nav-transform{
     transform: scale(1.1,1.1);
    }
  
}

/*art page styling*/

 

 .description{
  display: none;
  position: absolute;
  top: 0px;
  left: 275px;
  height: 350px;
  width: 30px;
  font-family: 'Alegreya Sans SC', serif;
  font-weight: 100;
  line-height: 20px;
  font-size: 28pt;
  z-index: 120;
  transition: .4s;
}


@media (min-width: 992px) {
     .image{
      position: relative;
      float: left;
      left: 0px;
      width: 350px;
      /*background: yellow;*/
      margin-bottom: 50px;
    }

  
    .img{
      position: relative;
      height: 350px;
      width: 262px;
      border: 1px solid black;
      transition: .4s;
       border-radius: 5px;
    }

    .quote{
  font-family: 'Alegreya Sans SC', serif;
  font-weight: 100;
  line-height: 20px;
  font-size: 28pt;
  z-index: 120;
  transition: .4s;
  position: relative;
  top: 10px;
  width: 200px;
  height: 20px;
  z-index: 120;
  letter-spacing: -7px;
}

.quote-shift{
  letter-spacing: 1px;
}
}

@media (min-width: 768px) and (max-width: 992px) {
     .image{
      position: relative;
      float: left;
      left: 0px;
      width: 350px;
      /*background: yellow;*/
      margin-bottom: 50px;
    }

  
    .img{
      position: relative;
      height: 350px;
      width: 262px;
      border: 1px solid black;
      transition: .4s;
       border-radius: 5px;
    }

    .quote{
  font-family: 'Alegreya Sans SC', serif;
  font-weight: 100;
  line-height: 20px;
  font-size: 28pt;
  z-index: 120;
  transition: .4s;
  position: relative;
  top: 10px;
  width: 200px;
  height: 20px;
  z-index: 120;
  letter-spacing: -7px;
}

.quote-shift{
  letter-spacing: 1px;
}
}

@media (max-width: 768px) {


   .image{
      position: relative;
      float: left;
      left: 0px;
      width: 90%;
      height: 400px;
      /*background: yellow;*/
      margin-bottom: 70px;
    }


  
    .img{
      position: relative;
      height: 100%;
      width: 100%;
      border: 1px solid black;
      transition: .4s;
       border-radius: 5px;
    }

    .quote{
  font-family: 'Alegreya Sans SC', serif;
  font-weight: 100;
  line-height: 20px;
  font-size: 28pt;
  z-index: 120;
  transition: .4s;
  position: relative;
  top: 10px;
  width: 200px;
  height: 20px;
  z-index: 120;
}

.quote-shift{
}
}






/*thumbnails*/

.thumb1{
  background: url("../images/art/thumb/1.jpg");
   background-repeat: no-repeat;
  background-size: cover;
}

.thumb2{
  background: url("../images/art/thumb/2.jpg");
   background-repeat: no-repeat;
  background-size: cover;
}
.thumb3{
  background: url("../images/art/thumb/3.jpg");
   background-repeat: no-repeat;
  background-size: cover;
}
.thumb4{
  background: url("../images/art/thumb/4.jpg");
   background-repeat: no-repeat;
  background-size: cover;
}
.thumb5{
  background: url("../images/art/thumb/5.jpg");
   background-repeat: no-repeat;
  background-size: cover;
}

.thumb6{
  background: url("../images/art/thumb/6.jpg");
   background-repeat: no-repeat;
  background-size: cover;
}


/*carousel images styling*/

.loading{
    position: absolute;
    display: none;
    left:30%;
    top:30%;
    width: 100px;
    height: 100px;
    background-image:  url("../assets/load_small.gif");
    background-size: contain;
    z-index: 2000;
  }

.zoom-closer{
  position: fixed;
  display: none;
  margin-left: 30px;
  margin-top: 15px; 
  opacity: 1;
  height: 25px;
  width: 25px;
  background-image: url("../assets/closer.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: .2s;
  z-index: 121;
}

.car-size21{
  height: 100%;
  width: 100%;
  /*overflow: visible;*/
}

.car-size2{
  height: 100%;
  width: 100%;
}

.image-car{
  position: relative;
  left: 0px; 
  z-index: 101;
  height: 100%;
  width: 100%;  
  transition: .25s;
  cursor: -moz-zoom-in; 
  cursor: -webkit-zoom-in; 
  cursor: zoom-in;
}

.load-ready{
  border: 1px solid black;
}

.zoom{
  position: relative;
  height: 230%;
  width: 230%;
  border: none;
  cursor: -webkit-grab;
}

  .closer{
  position: relative;
  opacity: .5;
  height: 25px;
  width: 25px;
  background-image: url("../assets/closer.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: .2s;
}

.info{
  position: relative;
  opacity: .5;
  height: 30px;
  width: 30px;
  margin-top: 30px;
  margin-left: -2px;
  background-image: url("../assets/info.svg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: .2s
}

.info-shift{
  position: relative;
  height: 100px;
  width: 400px;
  margin-top: -100px;
  left: 10px;
  z-index: 130;
  transition: .25s;
}

.info-shift-toggle{
 height: 10%; 
 margin-top: 0px;
}



@media (min-width: 1199px) {

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  background-repeat: repeat;
  z-index: 1000 ;
  padding-top: 10px;
  padding-left: 90px;
  padding-bottom: 30px;
  transition: .2s
}

.overlay-zoom{
 padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.item{
  position: relative;
  margin-left: 0px;
  z-index: 100;
  overflow: scroll;
  transition: .2s;
}

.item-marg-shift{
}

.carousel-house-shift{
}

.closertop{
  position: relative;
  height: 100%;
  z-index: 110;
  transition: .5s;
}

.closertop-shift{
  left: -100px;
}
  .car-whitespace{
  position: relative;
  width: 100%;
  height: 77%;
}

.back-arrow-link.sm{
  position: relative;
  display: inline;
  height: 25px;
  width: 25px;
  z-index: 100;
}

.forward-arrow-link.sm{
  position: relative;
  display: inline;
  margin-left: 30px;
  height: 25px;
  width: 25px;
  z-index: 100;
}
}

@media (max-width: 1199px) {

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  background-repeat: repeat;
  z-index: 1000 ;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 30px;
   transition: .2s;
}

.overlay-zoom{
 padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.item{
  position: relative;
  z-index: 100;
  overflow: scroll;
  margin-left: 30px;
  transition: .2s;
}

.carousel-house-shift{
  position: absolute;
  display: block;
  height: 100%;
  width: 130%;
}

.item-marg-shift{
  margin-left: 0px;
  height: 2000px;
  width: 100%;
  margin-right: -300px;
}

.car-whitespace{
  position: relative;
  width: 30px;
  height: 100px;
}

.closertop{
  position: relative;
  display: block;
  height:0%;
  width: 0%;
  z-index: 110;
  transition: .25s;
}


.back-arrow-link.sm{
  position: relative;
  display: block;
  height: 25px;
  width: 25px;
  z-index: 100;
}

.forward-arrow-link.sm{
  position: relative;
  display: block;
  height: 25px;
  width: 25px;
  margin-left: 5px;
  margin-bottom: 50px;
  z-index: 100;
}
}





#carousel-item-1-pic {
  background: url("../images/art/lg/1.jpg"); 
  background-size: contain;
  background-repeat: repeat;
}

#carousel-item-2-pic {
  background: url("../images/art/lg/2.jpg"); 
  background-size: contain;
  background-repeat: repeat;
}
#carousel-item-3-pic {
  background: url("../images/art/lg/3.jpg"); 
  background-size: contain;
  background-repeat: repeat;
}
#carousel-item-4-pic {
  background: url("../images/art/lg/4.jpg"); 
  background-size: contain;
  background-repeat: repeat;
}
#carousel-item-5-pic {
  background: url("../images/art/lg/5.jpg"); 
  background-size: contain;
  background-repeat: repeat;
}
#carousel-item-6-pic {
  background: url("../images/art/lg/6.jpg"); 
  background-size: contain;
  background-repeat: repeat;
}


/*.carousel-top-nav {
  position: relative;
  height: 35px;
}*/

/*.back-arrow-wrapper {
  height: 700px;
}*/



.back-arrow{
  position: relative;
  height: 25px;
  width: 25px;
  background-image: url("../assets/back.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/*.forward-arrow-wrapper {
  height: 700px;
}*/


.forward-arrow{
  position: relative;
  height: 25px;
  width: 25px;
  background-image: url("../assets/next.svg");
  background-size: contain;
  background-repeat: no-repeat;
}


.closer:hover {
  opacity: 1;
}

.number{
  font-family: 'Great Vibes', cursive;
  font-size: 24pt;
}


@media (min-width: 992px) {
  .gallery{
  position: relative;
  top: 36px;
  left: 40px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .gallery{
  position: relative;
  top: 20px;
  left: -2px;
  }
}

@media (max-width: 768px) {
  .gallery{
  position: relative;
  top: 20px;
  left: 12px;
  }
}

/* path animate */

#hover-scribble {
  position: absolute;
  display: none;
  z-index: -2;
}

#scribble-svg {
  position: absolute;
  display: block;
  top: 0%;
  left: 0%;
  }

/*
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}*/


.lay-active1 {
  -webkit-transform: rotate(15deg) scale(1.1,1.1);
}

.lay-active2 {
 -webkit-transform: rotate(10deg) scale(1.1,1.1);
}

.lay-active3 {
 -webkit-transform: rotate(15deg);
}

.lay-active4 {
 -webkit-transform: rotate(10deg);
}

.lay-active5 {
 -webkit-transform: rotate(5deg);
}

.lay-active6 {
 -webkit-transform: rotate(7deg);
}

.lay-active7 {
 -webkit-transform: rotate(-70deg);
}
.lay-active8 {
 -webkit-transform: rotate(-80deg);
}
.lay-active9 {
 -webkit-transform: rotate(-90deg);
}


/*social media*/


.facebook{
  background-image: url("../assets/facebook.svg");
}

.twitter {
 background-image: url("../assets/twitter.svg");
}

.instagram {
   background-image: url("../assets/instagram.svg");
}

.row1{
  margin: none;
  padding: none;
  transition: .2s;
  width: 350px;
  /*background: red;*/
}


/*front page styling */

.rect {
  position: absolute;
  width: 63%;
  height: 112%;
  top: 25%;
  left: 15%;
  z-index: -10;
  background-color:  black;
}

@keyframes eye {
  0%, 100%{
    transform: scale(1,1);
  }
  20% {
    transform: rotate(3deg) scale(1.05,.95) translateY(-5px);
  }
}

.eye-animation {
  animation-name: eye;
  animation-duration: 1s;
  animation-iteration-count: 1;
  }

  .test{
    position: relative;
    display: block;
    float: left;
    height: 300px;
    width: 300px;
    background: blue;
  }

  
  