
ul {
  list-style: none;
}

/*image layers*/

.scene li img{
    position: relative;
    /*border: 1px dashed black;*/
}


#img1 {
  top: 32px;
  left: 662px;
  height: 221px;
}
#img2 {
  top: 55px;
  left: 95px;
  height: 249px;
}
#img3 {
  top: 294px;
  left: 41px;
  height: 447px;
 }

#img4 {
  top: 729px;
  left: 264px;
  height: 137px;
}
#img5 {
  top: 784px;
  left: 418px;
  height: 43px;
}
#img6 {
  top: 798px;
  left: 422px;
  height: 98px;
}
#img7 {
  top: 815px;
  left: 559px;
  height: 111px;
}
#img8 {
  top: 630px;
  left: 632px;
  height: 170px;
}
#img9 {
  top: 118px;
  left: 198px;
  height: 104px;
}
#img10 {
  top: 224px;
  left: 742px;
  height: 226px;
}
#img11 {
  top: 125px;
  left: 159px;
  height: 253px;
}
#img12 {
  top: 390px;
  left: 178px;
  height: 93px;
}
#img13 {
  top: 120px;
  left: 309px;
  height: 201px;
}
#img14 {
  top: 271px;
  left: 214px;
  height: 249px;
}
#img15 {
  top: 342px;
  left: 273px;
  height: 85px;
}
#img16 {
  top: 328px;
  left: 297px;
  height: 32px;
}
#img17 {
  top: 508px;
  left: 244px;
  height: 50px;
}
#img18 {
  top: 513px;
  left: 207px;
  height: 204px;
}
#img18 {
  top: 513px;
  left: 207px;
  height: 204px;
}
#img21 {
  top: 550px;
  left: 250px;
  height: 160px;
}
#img22 {
  top: 670px;
  left: 444px;
  height: 65px;
}
#img23 {
  top: 727px;
  left: 489px;
  height: 26px;
}
#img25 {
  top: 341px;
  left: 489px;
  height: 418px;
}
#img26 {
  top: 302px;
  left: 660px;
  height: 35px;
}
#img28 {
  top: 261px;
  left: 584px;
  height: 37px;
}
#img29 {
  top: 279px;
  left: 313px;
  height: 347px;
}


/*blend layers*/

#lay19 {
  mix-blend-mode: multiply;
}

#lay20 {
  mix-blend-mode: multiply;
}

#lay21 {
  mix-blend-mode: multiply;
}

#lay29 {
  mix-blend-mode: multiply;
}

#lay30 {
  mix-blend-mode: multiply;
}

#lay31 {
  mix-blend-mode: multiply;
}

#lay32 {
  mix-blend-mode: multiply;
}
#lay33 {
  mix-blend-mode: multiply;
}
#lay28 {
  mix-blend-mode: multiply;
}

#blend-image-1{
  top: 500px;
  left: 33px;
  width: 1024px;
  opacity: .54;
 
  
}

#blend-image-2{
  top: 527px;
  left: 33px;
  width: 1024px;
  opacity: .50;
  
}

#blend-image-3{
  top: 500px;
  left: 450px;
  height: 35px;
  opacity: .50;
  
}

#blend-image-4{
  top: 310px;
  left: 294px;
  height: 341px;
  opacity: 1;
  
}

#blend-image-5{
  top: 448px;
  left: 470px;
  height: 79px;
  opacity: 1;
  
}

#blend-image-6{
  top: 558px;
  left: 33px;
  width: 1024px;
  opacity: .46;
 
}

#blend-image-7{
  top: 596px;
  left: 33px;
  width: 1024px;
  opacity: .44;
  
}
#blend-image-8{
  top: 637px;
  left: 33px;
  width: 1024px;
  opacity: .44;
 
}

.blend{
  -webkit-filter: grayscale(.3);
}