<footer class="site-footer-2">

    <div class="container-fluid hidden-xs">
      
      <div class="row">

         <div id="f-empty" class="col-lg-2 col-md-2 hidden-sm hidden-xs">
            <div class="foot-cop"> All Content © 2006-2017 Gregor Pieplow</div>
          </div>

       
        <div class="col-xl-7 col-lg-7 col-md-9 col-sm-12 col-xs-12 col-12 footer-inner"> 
          
         <div id="f-empty" class="hidden-xl hidden-lg hidden-md col-sm-2 col-xs-2">
            <div class="foot-cop"> All Content © 2006-2017 Gregor Pieplow</div>
          </div>

          <div id="f-social" class="footer-styling">

            <a href="#"> <div class="facebook social-icn"></div> </a>
            <a href="#"> <div class="instagram social-icn"></div> </a>
            <a href="#"> <div class="tumblr social-icn"></div> </a>
            
          </div>

          <div id="f-impressum" class="footer-styling">
            
          <a href="{{ site.baseurl }}/impressum/index.html"><h1>Impressum</h1> </a>

          </div>

          <div id="f-email" class="footer-styling">
            <h1><a href="mailto:{{ site.email }}">{{ site.email }}</a></h1>
          </div>

          <div id="f-contact" class="footer-styling hidden-sm hidden-xs">
              <h1>  contact </h1> 
          </div>

          

        </div>

      </div>
    
    </div>

    <div class="small-foot small-foot-2 hidden-xl hidden-lg hidden-md hidden-sm col-xs-12">
      <ul>  
        <li> 
            <a target="_blank" href="https://www.facebook.com/gregorpieplowartist/"> <div class="facebook social-icn"></div> </a>
            <a target="_blank" href="https://www.instagram.com/gregor.pieplow/"> <div class="instagram social-icn"></div> </a>
            <a target="_blank" href="https://mikroversum.tumblr.com/"> <div class="tumblr social-icn"></div> </a>
        </li>

        <li>
  
           <a href="mailto:{{ site.email }}">{{ site.email }}</a>
 
        </li>

        <li>

            <a href="{{ site.baseurl }}/impressum/index.html">Impressum </a>

        </li>

        <li>

            <div class="foot-cop"> All Content © 2006-2017 Gregor Pieplow</div>

        </li>

      </ul>

    </div>



</footer>







